/* html styles */

html {
  background: url(Forest_Background.jpeg) center center / cover no-repeat fixed;
  height: 100%;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  margin-left: 10%;
  margin-right: 10%;
}

/* body styles */

body {
  background-color: rgb(2, 31, 16);
  font-family: Verdana, Geneva, Arial, sans-serif;
  margin: 10%;
}

article {
  float: left;
  color: white;
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul > li {
  float: left;
  width: 20%;
}

ul > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul > li a:hover {
  background-color: #111;
}
